.gallery{
    margin-top:10vh;
    min-height: calc(100vh - 120px);
    /* 80px header + 40px footer = 120px  */
}

.col-md-2 .social{padding:0;margin:0;list-style:none;position:absolute;top:15%; left:65%;z-index:1}
.col-md-2 .social li{opacity:0;transform:translateY(3px);transition:all .5s ease 0s}
.col-md-2:hover .social li{margin:0 0 10px;opacity:1;transform:translateY(0);}
.col-md-2:hover .social li:nth-child(1){transition-delay:.1s}
.col-md-2:hover .social li:nth-child(2){transition-delay:.2s}
.col-md-2:hover .social li:nth-child(3){transition-delay:.4s}
.col-md-2 .social li a{color:grey;font-size:17px;line-height:40px;text-align:center;height:40px;width:40px;border:1px solid grey;display:block;transition:all .5s ease-in-out}
.col-md-2 .social li a:hover{color:#000;border-color:#000}

.admin{
    margin-top : 15px;
}